@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-purple-500 {
  background-color: #800080;
}

.bg-purple-600 {
  background-color: #b922b9;
}
.bg-blue-500 {
  background-color: #3467c5;
}
.bg-green-500 {
  background-color: #8ddd17;
}
.bg-orange-500 {
  background-color: #ffa500;
}
.bg-red-500 {
  background-color: #ff0000;
}
