@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-purple-500 {
  background-color: purple;
}

.bg-purple-600 {
  background-color: rgb(185, 35, 185);
}
.bg-blue-500 {
  background-color: rgb(53, 103, 197);
}
.bg-green-500 {
  background-color: rgb(141, 221, 22);
}
.bg-orange-500 {
  background-color: orange;
}
.bg-red-500 {
  background-color: red;
}
